@media screen and (max-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 30px;
    }

    .footer-container {
        max-width: 1200px;
        padding: 30px 30px 0 30px;
    }
}

@media screen and (max-width: 1025px) {
    .container {
        max-width: 1024px;
        padding: 0 30px;
    }

    .footer-container {
        max-width: 1024px;
        padding: 30px 30px 0 30px;
    }

    .header {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 1000px) {

    .container, .footer-container {
        max-width: 1000px;
        padding: 0 30px;
    }
    .pets-container {
        width: 900px;
        padding: 0 5px;
    }
}

@media screen and (max-width: 920px) {
    .container, .footer-container {
        max-width: 920px;
        padding: 0 30px;
    }
    
    .pets-container {
        gap: 40px;
        max-width: 768px;
        margin: 0 auto;
        max-height: 1386px;
        padding: 0 64px;
        overflow: hidden;
    }

    .popup__content {
        width: 630px;
        height: 350px;
        justify-content: center;
        min-width: 630px;
    }

    .popup__content img {
        width: 350px;
        height: 350px;
    }

    .popup__text {
        font-size: 13px;
        margin: 10px 10px 0px 10px;
        text-align: left;
    }

    .popup__text p {
        margin-top: 22px;
        margin-bottom: 22px;
    }

    .popup__close {
        background: transparent;
        margin-top: -383px;
        margin-left: -7px;
    }

    .footer-container {
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }

    .colomn-1 {
        margin-right: 60px;
    }

    .footer-puppy {
        width: 300px;
        height: 310px;

    }
}

@media screen and (max-width: 769px) {
    .container, .footer-container {
        max-width: 768px;
        padding: 0 30px;
    }

    .logo {
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    

    

    .pets-container {
        gap: 40px;
        width: 591px;
        margin: 0 auto;
        max-height: 1386px;
        padding: 0 5px;
        overflow: hidden;
    }

    .popup__content {
        width: 630px;
        height: 350px;
        justify-content: center;
        min-width: 630px;
    }

    .popup__content img {
        width: 350px;
        height: 350px;
    }

    .popup__text {
        font-size: 13px;
        margin: 10px 10px 0px 10px;
        text-align: left;
    }

    .popup__text p {
        margin-top: 22px;
        margin-bottom: 22px;
    }

    .popup__close {
        background: transparent;
        margin-top: -383px;
        margin-left: -7px;
    }

    .footer-container {
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }

    .colomn-1 {
        margin-right: 60px;
    }

    .footer-puppy {
        width: 300px;
        height: 310px;

    }

    
}

@media screen and (max-width: 580px) {
    .navigation {
        display: none;
    }

    .active-nav-menu {
        display: block;
    }

    .nav-list {
        position: absolute;
        z-index: 5;
        display: flex;
        flex-direction: column;
        width: 420px;
        
        right: 0;
        top: 180px;
        font-size: 32px;

    }

    .nav-list li {
        margin-bottom: 40px;
    }

    .nav-a {
        color: #CDCDCD;
    }

    .burger-pets {
        width: 30px;
        height: 22px;
        position: relative;
        z-index: 6;
        right: 10px;
        top: 10px;
    }

    .burger-pets span, 
    .burger-pets span::after, 
    .burger-pets span::before  {
        display: block;
        content: "";
        width: 30px;
        height: 2px;
        background-color: #F1CDB3;
        position: absolute;
        border: 0;

    }

    .burger-pets span {
        left: 0;
    }

    .burger-pets span::before {
        left: 0;
        top: -10px;
        margin-bottom: 10px;
    }

    .burger-pets span::after {
        left: 0;
        bottom: -10px;
        margin-top: 10px;
    }

    .burger-pets.active-pets {
        transform: rotate(90deg);
        right: -135px;
        top: 0;
        background: none;
    }

    .burger-menu {
        display: none;
        position: fixed;
        width: 420px;
        height: 1173px;
        background-color: #292929;
        right: 0;
        
    }

    .active-burger-menu {
        display: block;
        
    }

    .pets-container {
        width: 280px;
    }
}


@media screen and (max-width: 415px) {

    .container, .footer-container {
        max-width: 414px;
        
    }

    .header__main-page, .section-1, .footer {
        background-size: auto;
    }

    .burger-menu {
        
        width: 320px;
        height: 1173px;
        background-color: #292929;
        right: 0;
        
    }

    .nav-list {
        width: 320px;
    }

    .burger-pets.active-pets {
        transform: rotate(90deg);
        right: -51px;
        top: 0;
        background: none;
    }

    
    .footer-puppy {
        width: 260px;
        height: 269px;
    }

    .colomn-1 {
        margin-right: 0;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .footer h2 {
        text-align: center;
    }

    .colomn-2 h2 {
        width: 280px;
    }

    /* _____MODAL_____ */

    .popup__content {
        width: 230px;
        min-width: 230px;
        height: 460px;
    }

    .popup__content img {
        display: none;
    }

    .popup__text {
        margin: 24px 20px 0px 20px;
        font-size: 13px;
    }

    .popup__text p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .popup__close {
        margin-top: -493px;
    }
}

@media screen and (max-width: 376px) {

    .container, .footer-container {
        max-width: 375px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 320px) {
    .container, .footer-container {
        max-width: 320px;
        padding: 0px 10px;
    }

    .burger-pets.active-pets {
        right: -15px;
    }

    .pagination {
        width: 300px;
    }

    .pets-container {
        max-width: 320px;
        padding: 0;
        padding-left: 15px;
    }
}